{% extends 'category/base.html'%}

{% block content %}
<div class="container my-3">
  <a href="{% url 'pro-create'%}" class="bnt btn-primary btn-sm ">Create <i class="fa fa-plus"></i></a>
    <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Create_at</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for pro in pros%}
          <tr>
            <td>{{pro.id}}</td>
            <td>{{pro.name}}</td>
            <td>{{pro.price}}</td>
            <td> <img src="{{pro.image.url}}" alt="" width="100" height="100"></td>
            <td>{{pro.create_at}}</td>
            <td>
                <a href="{% url 'pro-edit' pro.id%}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                <a href="{% url 'pro-delete' pro.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
</div>
{% endblock %}